.menu { font-size: 10pt; color: #000000 }
.menuBack { font-size: 10pt; padding:2px; background-color: #999999; color: #666666 }
.menuBright { font-size: 10pt;background-color: #0066E0; color: #FFFFFF }
.menuForward { font-size: 10pt;background-color: #DDDDDD; padding:2px  }
.menuHigh { font-size: 10pt;background-color: #0066E0; color: #FFFFFF }
.menuTouch { font-size: 10pt; padding:2px; background-color: #AAAAAA; color: #666666 }
a            { text-decoration: none }
a:active     { text-decoration: none }
a:link       { text-decoration: none }
a:visited    { text-decoration: none  }
body         { font-size: 10pt; font-family: 'Helvetica Neue', helvetica, arial, sans-serif;color:#000000;padding: 0px;margin:0px;  }
body.print   { padding:8px;font-size: 10pt; font-family: arial, helvetica, sans-serif;color:#000000 }
body.tool     { padding:12px;background-color:#DDDDDD; }
div.blockArea {display:none;position:fixed;z-index:14;width:100%;height:100%;top:0px;left:0px; background-image: url('../img/TrGrey75.png');}
div.body	 { position: absolute;z-index:1; width:98%;top: 115px;left:1%; }
div.button   { width:26px; height:21px;overflow:hidden;line-height:0px;border-radius:4px;border:solid 1px #CCC;background-color:rgba(255,255,255,0.8) }
div.button:hover   { background-color:rgba(255,255,255,0.4) }
div.rocker   { width:28px; height:23px;overflow:hidden;line-height:0px;border:0px }
div.error	 { width:100%;display:none; background-color:#FF9966;color:#000000 }
div.header	 { position:fixed;z-index:10;top:0px;left:0px;width:100%;height:70px; font-size: 10pt; background-color: #002147;color: #ffffff; font-family: Helvetica }
div.headerBar  { position: fixed;z-index:11; left:0px; width: 100%;top: 70px;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);  }
div.headerCrest { position: fixed;z-index:12; left:0px; top:0px; }
div.headerLogo { position: fixed;z-index:12; border:0px;padding:0px; left:75%;width:25%;top:2px;text-align:right }
div.headerProgress { position: fixed;z-index:12; border:0px;padding:0px; left:75%;width:25%;top:78px;text-align:right }
div.headerButtons { position: fixed;z-index:12; border:0px;padding:0px; left:75%;width:25%;top:70px;text-align:left }
div.headerMenu { position: fixed;z-index:12; left:200px; top: 70px; }
div.headerTitle { position: fixed;z-index:11; left:200px;width:500px;top:15px }
div.hint		{ position: absolute; width:200px; background-color:#FFFFF0;border: solid 1px #333333; display:none; text-decoration: none; color:#333333;font-weight: normal;  margin:2px;font-size: 10pt; font-family: arial, helvetica, sans-serif;}
div.login		{ position: absolute; left: 200px;width: 300px }
div.option { display:none }
div.optionInternal { position:absolute;overflow:visible;display:none;width:300px;top:30px }
div.toolbar     { position: absolute; left:150px; width: 300px; top:0px }
h1 { font-size: 18pt; font-family:'Times New Roman'; font-weight: normal; color: #9999CC; margin-top:1px; margin-bottom:0px }
h1.header { font-size: 20pt; font-family:'Times New Roman'; font-weight: normal; color: #B49D5A; margin-top:1px; margin-bottom:0px }
h2 { font-size: 12pt; font-weight: bold; color: #336699; margin-top:0px; margin-bottom:0px }
h3 { font-size: 10pt; font-weight: bold; color: #666666; margin-top:0px; margin-bottom:0px }
pre.email	 { width:100%;background-color:#FFFFCC;color:#000000 }
select	 { width:150px }
span.changed { color:#FF0000 }
span.link      { color: #0000FF }
table { font-size: 10pt;}
table.clear  { font-size: 10pt;border-width:0;border-style:none }
table.menubar { border-collapse:collapse; font-size: 10pt;background-color: rgba(225,225,230,0.9); color:#000000; width:600px; height:30px; padding:0px }
table.menuDrop { background-color: rgba(225,230,240,0.90); box-shadow: 2px 2px 4px rgba(0,0,0,0.2); padding-top: 5px; padding-bottom: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;  }
td, th {padding: 2px}
table.menutab { border-collapse:separate;border-spacing: 10px 0px;padding:5px;font-size: 10pt;color: #000000;margin:0px 0px -10px 0px;border-top-left-radius:10px;border-top-right-radius:10px; }
table.menutab th { border-top-left-radius:10px;border-top-right-radius:10px;padding:5px 10px 5px 10px }
table.menubar th { padding:5px 5px 5px 5px }
td           { vertical-align:top;text-align: left; font-weight: normal}
td.button    { width:30px }
td.link      { color: #0000FF }
td.lower	 { color: #FF9999 }
textarea     { width:400px; height: 100px }
textarea.doc { width:700px; height: 300px }
th           { vertical-align:top;text-align: left}
th.add      { color:#00FF00 }
tr.changed { background-color: #C0C0F0 }
tr.deleted { background-color: #F0C0C0 }
tr.even { background-color: #F0F0F0 }
tr.evenChanged { background-color: #C0C0F0 }
tr.evenDeleted { background-color: #F0C0C0; color: #999999 }
tr.evenNew { background-color: #C0F0C0 }
tr.header { background-image: url('../img/Brushed.gif');  }
tr.new { background-color: #C0F0C0 }
tr.odd { background-color: #FFFFFF }
tr.oddChanged { background-color: #CCCCFF }
tr.oddDeleted { background-color: #FFCCCC; color: #999999 }
tr.oddNew { background-color: #CCFFCC }
ul  		 { list-style: circle }



tr.objEven, tr.objEvenChanged, tr.objEvenDeleted, tr.objEvenNew, tr.objHeader, tr.objNew, tr.objOdd, tr.objOddChanged, tr.objOddDeleted, tr.objOddNew, tr.objPopup { padding: 5px;}
tr.objEven { background-color: #F0F0F0 }
tr.objEvenChanged { background-color: #C0C0F0 }
tr.objEvenDeleted { background-color: #F0C0C0; color: #999999 }
tr.objEvenNew { background-color: #C0F0C0 }
tr.objHeader { background-color: #DDDDDD;  }
tr.objNew { background-color: #CCFFCC }
tr.objChanged { background-color: #CCCCFF }
tr.objDeleted { background-color: #FFCCCC }
tr.objOdd { background-color: #FFFFFF }
tr.objOddChanged { background-color: #CCCCFF }
tr.objOddDeleted { background-color: #FFCCCC; color: #999999 }
tr.objOddNew { background-color: #CCFFCC }
tr.objPopup { background-color: #666666 }
td.objControl, th.objControl { -moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;background-color: #DDDDDD; }
td.objLink, td.objLink, span.objLink { color:#0000FF }
th.objAdd      { color:#00FF00 }
table.objDialog { display:inline-block;border-radius:5px;box-shadow: 0px 0px 8px rgba(0,0,0,0.2);font-size: 10pt;background-color: #DDDDDD; color: black; border-collapse:collapse;padding:5px }
table.objObject { display:inline-block;border-radius:5px;box-shadow: 0px 0px 8px rgba(0,0,0,0.2);font-size: 10pt;background-color: #DDDDDD; color: black; border-collapse:collapse;padding:5px;margin:3px 20px 3px 0px }
table.objObjectInTabTop { display:inline-block;box-shadow: 0px 4px 8px rgba(0,0,0,0.2); border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;font-size: 10pt;background-color: #DDDDDD; color: black; border-collapse:collapse;padding:5px;width:100% }
table.objObjectInTabLeft { display:inline-block;box-shadow: 4px 0px 8px rgba(0,0,0,0.2); border-bottom-right-radius: 5px; border-top-right-radius: 5px;font-size: 10pt;background-color: #DDDDDD; color: black; border-collapse:collapse;padding:5px;height:100% }
table.objBlank { display:inline-block;font-size: 10pt;color: black; border-collapse:collapse;padding:5px;margin-right:20px }
table.objPopup { display:inline-block;border-bottom-left-radius: 5px;border-bottom-right-radius:5px;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);font-size: 10pt;background-color: #FFFFCC; color: black;width:auto; border-collapse:collapse;padding-top: 5px; padding-bottom: 5px;margin:5px;margin-top:-2px }
table.objOutline { background-color:rgb(255,255,255);color: #336699;box-shadow: 0px 0px 8px rgba(0,0,0,0.2);border-spacing: 20px;font-size: 12pt }
table.objMenuDrop { background-color: rgba(150,170,200,0.9); box-shadow: 2px 2px 4px rgba(0,0,0,0.2); padding-top: 5px; padding-bottom: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px }
table.objObject th.objTabLeft { border-top-left-radius:10px; border-bottom-left-radius:10px; padding:10px 5px 10px 5px;background-color:#8899BB; box-shadow:-2px 0px 4px rgba(0,0,0,0.2);z-index:5; }
table.objObject th.objTabLeftActive { border-top-left-radius:10px; border-bottom-left-radius:10px; padding:10px 5px 10px 5px;background-color:#DDDDDD; box-shadow:-2px 0px 4px rgba(0,0,0,0.2);z-index:6 }
table.objObject th.objTabTop {border-top-left-radius:10px; border-top-right-radius:10px; padding:5px 10px 5px 10px;background-color:#8899BB; box-shadow:0px -2px 4px rgba(0,0,0,0.2);z-index:5}
table.objObject th.objTabTopActive { border-top-left-radius:10px; border-top-right-radius:10px; padding:5px 10px 5px 10px;background-color:#DDDDDD; box-shadow:0px -2px 4px rgba(0,0,0,0.2);z-index:6 }



div.objIcon {
    height: 16px;
    width: 16px;
    position: relative;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}

div.objIcon div.circle, div.objIcon div.circleRed, div.objIcon div.circleOrange, div.objIcon div.circleGreen,  div.objIcon div.circleBlue, div.objIcon div.circleCyan, div.objIcon div.circleCyanOn {
	position: absolute;
	width:10px;
	height:10px;
	border: 1px solid #999;
	border-radius:6px;
	background: transparent;
	left: 2px;
	bottom: 2px;
	user-select: none;
}
div.objIcon:hover div.circleRed {
	background: #F33;
}
div.objIcon:hover div.circleOrange {
	background: #FC0;
}
div.objIcon:hover div.circleGreen {
	background: #0F0;
}
div.objIcon:hover div.circleBlue {
	background: #0088FF;
}
div.objIcon:hover div.circleCyan {
	background: #3FF;
}
div.objIcon div.circleCyanOn {
	background: #3FF;
}
div.objIcon div.plus {
	position: absolute;
	width:8px;
	height:2px;
	background: rgba(0,0,0,0.6);
	left: 4px;
	bottom: 7px;
}
div.objIcon div.plus:after {
	content: '';
	position: absolute;
	width:2px;
	height:8px;
	background: rgba(0,0,0,0.6);
	left: 3px;
	bottom: -3px;
}
div.objIcon div.cross {
	position: absolute;
	width:8px;
	height:2px;
	border-radius:1px;
	background: rgba(0,0,0,0.6);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
	left: 4px;
	bottom: 7px;
}
div.objIcon div.cross:after {
	content: '';
	position: absolute;
	width:2px;
	height:8px;
	border-radius:1px;
	background: rgba(0,0,0,0.6);
	left: 3px;
	bottom: -3px;
}
div.objIcon div.minus {
	position: absolute;
	width:8px;
	height:2px;
	border-radius:1px;
	background: rgba(0,0,0,0.6);
	left: 4px;
	bottom: 7px;
}
div.objIcon div.spot {
	position: absolute;
	width:4px;
	height:4px;
	border-radius:2px;
	background: rgba(0,0,0,0.6);
	left: 6px;
	bottom: 6px;
}
div.objIcon div.pencil {
	position: absolute;
	width:6px;
	height:2px;
	background: rgba(0,0,0,0.6);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	left: 6px;
	bottom: 8px;
}
div.objIcon div.pencil:after {
	content: '';
	position: absolute;
	width:0px;
	height:0px;
    border-width: 1px 3px 1px 3px;
    border-style: solid;
    border-color:  transparent rgba(0,0,0,0.6) transparent transparent;
	left: -6px;
	bottom: 0px;
}
div.objIcon div.sort {
	position:absolute;
	width:0px;
	height:0px;
    border-width: 3px 4px 3px 4px;
    border-style: solid;
    border-color:  transparent transparent rgba(0,0,0,0.6) transparent;
	left: 4px;
	bottom: 9px;
}
div.objIcon div.sort:after {
	content: '';
	position: absolute;
	width:0px;
	height:0px;
    border-width: 3px 4px 3px 4px;
    border-style: solid;
    border-color: rgba(0,0,0,0.6) transparent transparent transparent;
	left: -4px;
	bottom: -11px;
}
div.objIcon div.go {
	position:absolute;
	width:0px;
	height:0px;
    border-width: 3px 6px 3px 6px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0,0,0,0.6);
	left: 6px;
	bottom: 5px;
}
div.objIcon div.true {
	position: absolute;
	left:1px;
	bottom:6px;
    width: 12px;
    height: 4px;
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: #0F0;
    margin: 0 0 0 0px;
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

div.objIcon div.false {
	position: absolute;
	width:12px;
	height:2px;
	background: #F00;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
	left: 2px;
	bottom: 6px;
}

div.objIcon div.false:after {
	content: '';
	position: absolute;
	width:2px;
	height:12px;
	background: #F00;
	left: 5px;
	bottom: -5px;
}

div.objIcon div.right {
	position: absolute;
    width: 0px;
    left: 5px;
    bottom: 3px;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
    border-width: 5px 5px 5px 9px;
}

div.objIcon div.left {
	position: absolute;
	left: 2px;
	bottom: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.6) transparent transparent;
    border-width: 5px 9px 5px 0px;
}

div.objIcon div.up {
	position: absolute;
	left: 3px;
	bottom: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.6) transparent;
    border-width: 5px 5px 9px 5px;
}

div.objIcon div.down {
	position: absolute;
	left: 3px;
	bottom: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.6) transparent transparent transparent;
    border-width: 9px 5px 0px 5px;
}


div.objIconImport {
    height: 16px;
    width: 32px;
    position: relative;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}
div.objIconImport div.in {
	position: absolute;
    width: 0px;
    left: 3px;
    bottom: 4px;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
    border-width: 4px 4px 4px 8px;
}
div.objIconImport div.out {
	position: absolute;
    width: 0px;
    left: 22px;
    bottom: 4px;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.6);
    border-width: 4px 4px 4px 8px;
}
div.objIconImport div.sheet:before {
	content:'';
	position: absolute;
    width: 14px;
    height: 3px;
    left: 0px;
    bottom: 3px;
    border-style: solid;
    border-color: #CCC;
    border-width: 3px 0px 3px 0px;
}
div.objIconImport div.sheet {
	position: absolute;
	background-color:transparent;
    width: 14px;
    height: 14px;
    left: 8px;
    bottom: 0px;
    border: solid 1px #333;
    border-radius: 2px;
}
div.objIconImport div.sheet:after {
	content:'';
	position: absolute;
	background-color:transparent;
    width: 4px;
    height: 14px;
    left: 4px;
    bottom: 0px;
    border-style: solid;
    border-color: #333;
    border-width: 0px 1px 0px 1px;
}
div.objIconImport:hover div.in {
    border-color: transparent transparent transparent #0F0;
}
div.objIconImport:hover div.out {
    border-color: transparent transparent transparent #F00;
}
div.objIconImport:hover div.sheet {
	background-color:#FFF;
}


